@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 187 100% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 187 30% 75%;
    --secondary-foreground: 187 30% 15%;
    --background: 180 10% 96%;
    --foreground: 187 100% 19%;
    --card: 180 10% 94%;
    --card-foreground: 187 100% 14%;
    --popover: 180 10% 93%;
    --popover-foreground: 187 100% 9%;
    --muted: 180 12% 90%;
    --muted-foreground: 180 12% 30%;
    --accent: 180 10% 81%;
    --accent-foreground: 180 10% 21%;
    --destructive: 4 86% 41%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 91%;
    --input: 0 0% 88%;
    --ring: 187 100% 34%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --primary: 187 78% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 187 30% 75%;
    --secondary-foreground: 187 30% 15%;
    --background: 189 77% 5%;
    --foreground: 187 21% 75%;
    --card: 189 77% 3%;
    --card-foreground: 187 21% 80%;
    --popover: 189 77% 2%;
    --popover-foreground: 187 21% 85%;
    --muted: 189 12% 15%;
    --muted-foreground: 189 12% 65%;
    --accent: 189 77% 20%;
    --accent-foreground: 189 77% 80%;
    --destructive: 0 84% 48%;
    --destructive-foreground: 0 0% 100%;
    --border: 189 67% 10%;
    --input: 189 67% 13%;
    --ring: 187 78% 39%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-2xl font-bold;
  }
}
